.plano-container{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    width: 300px;    
    background-color: rgb(177, 173, 167);
}
.plano-titulo{
    font-weight: 700px;   
}
.plano-preco{
    font-weight: 500px;
}
.plano-info{
    font-size: 14px;
    margin:1px
}